.aboutpanel {
    position: relative;
    display: block;
    left: 20vw;
    width: 58vw;
    padding: 1vw;
    height: auto;
    word-wrap: break-word;
    transition: var(--def-transition);
}

.aboutcap {
    font-size: 5vh;
    font-weight: lighter;
    color: var(--schulte-dark);
}

.aboutbullets {
    padding: 2vw;
}

.aboutbullets > li > strong {
    display: block;
}