.lockpanel {
    position: relative;
    display: block;
    background: var(--schulte-green);
    color: white;
    height: 55vh;
    width: 40vh;
    margin: 2vw;
    box-shadow: var(--box-shadow-2);
    flex-grow: 1;
    transition: var(--def-transition);
}

.lockpanel:hover {
    box-shadow: var(--box-shadow-4);
}

.lockimage {
    position: relative;
    width: 40vh;
    height: auto;
}

.locktitle {
    position: relative;
    float: left;
    margin-top: 0;
    margin-left: 1vh;
    font-size: 4vh;
}