.contact {
    position: relative;
    width: 60vw;
    height: 40vh;
    left: 20vw;
    margin: 4vh 0 15vh;
    background: var(--schulty-green);
    box-shadow: var(--box-shadow-4);
    color: #FAFAFA;
}

.contactimg {
    position: relative;
    height: 40vh;
    display: inline-block;
}

#contactinfo {
    position: absolute;
    display: inline-block;
    height: 40vh;
    margin-top: 7vh;
    margin-left: 2vw;
}

.contactname {
    position: relative;
    display: block;
    font-size: 4em;
    margin: 0;
}

#phone, #email {
    font-size: 2em;
}

#email {
    color: #FAFAFA;
    margin: 0;
    padding: 0;
}