.contact {
    position: relative;
    width: 60vw;
    height: 20vh;
    left: 20vw;
    margin: 4vh 0 15vh;
    background: var(--schulte-green);
    box-shadow: var(--box-shadow-2);
    color: #FAFAFA;
    transition: var(--def-transition);
}

.contact:hover {
    box-shadow: var(--box-shadow-4);
}

.contactimg {
    position: relative;
    height: 20vh;
    display: inline-block;
}

#contactinfo {
    position: absolute;
    display: inline-block;
    height: 40vh;
    margin-left: 2vw;
}

.contactname {
    position: relative;
    display: block;
    font-size: 5vh;
    margin: 0.5vh 0 0;
}

#phone, #email {
    font-size: 2.5vh;
    margin: 1.75vh 0;
}

#email {
    color: #FAFAFA;
    text-decoration: underline;
}