@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --schulte-green: #8EC9B4;
  --schulte-compliment: #Bec9b4;
  --schulte-dark: #339966;
  --box-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --box-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 4px 4px rgba(0,0,0,0.2);
  --box-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --def-transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #EFEFEF;
  transition: all 0.4s ease-in;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

a, a:hover, a:visited, a:link, a:active, a:focus {
  text-decoration: none;
  border: none;
  outline: 0;
}

#root {
  margin: 8vh 0;
  padding: 0;
}

#locks {
  position: relative;
  left: 20vw;
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-basis: content;
  justify-content: center;
}

@media only screen and (max-device-width: 900px) {
  .logo, .logo:hover, .logo:active, .logo:visited {
    margin-left: 2vh !important;
    bottom: 2vh !important;
    font-size: 3vh !important;
  }

  .links {
    display: none;
  }

  #locks {
    flex-direction: column;
    left: 18vw;
  }

  .aboutpanel {
    left: 10vw !important;
    width: 78vw !important;
  }

  .aboutbullets {
    list-style: none;
  }

  .contact {
    left: 10vw !important;
    width: 80vw !important;
  }

  .contactname {
    font-size: 4vh !important;
    font-weight: 600;
  }

  #phone {
    margin: 0.75vh 0 0 !important;
  }

  #email {
    margin: 0 !important;
  }
}