@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --schulty-green: #8ec9b4;
  --schulty-compliment: #Bec9b4;
  --box-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --box-shadow-2: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --box-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #EFEFEF;
  transition: all 0.4s ease-in;
}

#root {
  margin: 8vh 0;
  padding: 0;
}

#locks {
  position: relative;
  left: 20vw;
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-basis: content;
  justify-content: center;
}