.navbar {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100vw;
    height: 8vh;
    margin-bottom: 1vh;
    background: #FAFAFA;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.4);
    color: #161b1d;
}

.logo, .logo:hover, .logo:active, .logo:visited, .logo:link {
    position: relative;
    width: auto;
    display: inline-block;
    padding: 0;
    margin: 0 0 0 1.75vw;
    bottom: 2.25vh;
    font-size: 2em;
    color: #161b1d;
    text-decoration: none;
}

.navlinks {
    position: relative;
    width: 30vw;
    height: 4vh;
    float: right;
    font-size: 2em;
    margin: 2vh;
}

.navlinks > a, a:visited, a:active, a:link {
    text-decoration: none;
    color: #161b1d;
    margin-left: 2vw;
    padding: 1.25%;
    border-radius: 3px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.navlinks > a:hover {
    box-shadow: var(--box-shadow-1);
}