.navbar {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100vw;
    height: 8vh;
    margin-bottom: 1vh;
    background: #FFF;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.4);
    color: #161b1d;
    overflow: hidden;
}

.navlogo {
    position: relative;
    height: 8vh;
}

.logo, .logo:hover, .logo:visited, .logo:link {
    position: relative;
    width: auto;
    display: inline-block;
    padding: 0;
    margin: 0 0 0 2vh;
    bottom: 2.5vh;
    font-size: 4vh;
    color: #161b1d;
    text-decoration: none;
}

.links {
    position: relative;
    width: 45vw;
    height: 4vh;
    float: right;
    text-align: right;
    font-size: 4vh;
    margin: 1.25vh 2.5vw;
}

.navlink, .navlink:visited, .navlink:link {
    text-decoration: none;
    color: #161b1d;
    margin-left: 2vw;
    padding: 0.5vh 1vh 0.5vh 1vh;
    border-radius: 3px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.navlink:hover {
    box-shadow: var(--box-shadow-1);
}